# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Streamlit cache
.streamlit/

# Uploaded files
uploads/

# FAISS vector database
vectorstore/
*.faiss
*.pkl

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db